name: Elsa's Terraform Quality Checker



on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
   validate:
    name: Validate and Lint Terraform
    runs-on: ubuntu-latest
    permissions:
        id-token: write
        contents: read

    steps:
           - name: checkout code
             uses: actions/checkout@v4

           - name: Download Terraform CLI
             uses: hashicorp/setup-terraform@v3
             with:
              terraform_version: latest


           - name: Configure AWS Credetias
             uses: aws-actions/configure-aws-credentials@v4
             with:
               role-to-assume: arn:aws:iam::313196411727:role/git-role
               aws-region: eu-west-2


           - name: Terraform Init
             run: terraform init

           - name: Terraform Format
             run: terraform fmt -check -recursive

           - name: Terraform Validate
             run: terraform validate

           - name: Setup TFLint
             uses: terraform-linters/setup-tflint@v4
             with:
              tflint_version: latest

           - name: Run TFLint
             run: tflint --recursive --format=compact
